.basic-grid{
    display: grid;
    gap: 1rem;

    /*
    Does the same as below
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr*/

    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */

    grid-template-areas: 
        "Header"
        "Content"
        "Footer";

    align-items: center;
    justify-items: center;
}

header{
    grid-area: Header;
}

content{
    grid-area: Content;
}

footer{
    grid-area: Footer;
}